annotated-types==0.7.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
contourpy==1.3.2
cryptography==46.0.3
cycler==0.12.1
dill==0.4.0
fonttools==4.60.1
ibm-cloud-sdk-core==3.24.2
ibm-platform-services==0.71.0
idna==3.11
kiwisolver==1.4.9
matplotlib==3.10.7
numpy==2.2.6
packaging==25.0
pillow==12.0.0
psutil==7.1.3
pycparser==2.23
pydantic==2.12.4
pydantic_core==2.41.5
PyJWT==2.10.1
pylatexenc==2.10
pyparsing==3.2.5
pyspnego==0.12.0
python-dateutil==2.9.0.post0
qiskit==2.2.3
qiskit-aer==0.17.2
qiskit-ibm-runtime==0.43.1
requests==2.32.5
requests_ntlm==1.3.0
rustworkx==0.17.1
scipy==1.15.3
six==1.17.0
stevedore==5.6.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.5.0
